body {
  background: #bada55;
  padding: 10px;
}

.box {
  width: fit-content;
  background: white;
  padding: 10px 20px;
  position: relative;
  top: 10px;
  line-height: 1.5rem;
  border-radius: 5px;
}
